
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanalei&display=swap');

html {
    background: linear-gradient(rgb(92, 109, 119), rgb(160, 184, 140));
    background-size: fill;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100%;
    font-family: 'Potta One';
    max-width: 100%;
}
h1 {
    padding: 0em 2em;
    font-size: 5em;
    letter-spacing: .15em;
    font-family: 'Hanalei';
    color: rgb(59, 72, 80);
    text-shadow: 2px 2px 8px rgb(160, 184, 140);
    text-align: center;
    margin: .2em 0;
    padding: .3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all .8s ease-in-out;
}
h1 img {
    margin: 0 1.4em;
}
#apple {
    transform: rotate(20deg);
}
#blueb {
    transform: rotate(-20deg);
}
span {
    color: rgb(161, 205, 235)
}
input {
    outline: none;
    border: none;
    padding: .5em;
}
form {
    margin: .5em;
}
#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#startscreen {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    transition: all 1.3s ease-in-out;
}
#startscreen > * {
    margin: .8em;
}
#startscreen > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0!important;
    padding-top: 0;
} 
#snake {
    width: 350px;
    height: 350px;
    margin: .5em;
    padding: 0;
}
#obstacles {
    height: 310px;
    width: 310px;
    border-radius: 100%;
    text-align: center;
    display: flex;
    flex-direction: column!important;
    align-items: center;
    justify-content: center;
    margin: .5em;
    transition: all .7s ease-in-out
}
#obstacles p {
    margin: 0;
    padding: .3em;
}
#obstacles img {
    opacity: .8;
}
#obstacles img:hover {
    opacity: 1;
}
#intro {
    display: flex;
    flex-direction: column!important;
    max-width: 100%;
    margin: 0 .6em;
    transition: all .8s ease-in-out;
}
#info {
    width: 30px;
    filter: invert(100%) sepia(6%) saturate(7500%) hue-rotate(170deg) brightness(110%) contrast(104%);
    margin: .6em;
    cursor: pointer;
}
#intro p {
    padding: .3em
}
#intro p, img {
    margin: .25em;
}
#game {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    transition: all 1.3s ease-in-out;
}

#symbols {
    margin-left: 1em;
}
#symbols span {
    opacity: .8;
    color: rgb(20,20,20);
    font-family: monospace
}
#symbols img {
    height: 30px;
}
#symbols img {
    opacity: .6;
}
#symbols img:hover {
    opacity: 1;
}
.symbol {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.equal {
    width: 8px;
    height: 6px!important;
}
#canvas {
    margin-right: auto;
    margin-left: auto;
}
#end {
    transition: all 1.4s ease-in
}
#game-over {
    width: 455px;
    margin: auto;
    display: flex;
    flex-direction: column!important;
    align-items: center;
    justify-content: center;
}
#game-over > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    width: 80%;
    transition: all 1.4s ease-in-out
}
#final-score {
    font-size: 2em;
    color: rgb(153, 224, 125)
}
#game-over button {
    font-size: .8em;
    padding: .4em;
    width: 150px;
    margin: .5em 0;
}
button {
    color: rgb(83, 70, 44);
    background: rgb(224, 125, 59);
    cursor: pointer;
    outline: none;
    border: none;
    padding: 1em;
    width: 230px;
    font-size: 1.5em;
    margin: 1.6em 0;
    border-radius: 7px;
    font-family: 'Potta One';
    transition: all .5s ease-in-out;
    box-shadow: -7px 10px 16px -5px rgba(0,0,0,0.35);
}
button:hover {
    background-color: white;
}
#submit-score {
    background:rgb(153, 224, 125);
    transition: all .3s ease-in
}
#submit-score:hover {
    background: rgb(20,20,20);
    color: white
}
.blur {
    font-family: 'Potta One';
    font-size: 1.4em;
    background-color: rgba(20,20,20,.2);
    padding: .7em;
    color: white;
    line-height: 1.2em;
    letter-spacing: 0.05em;
    backdrop-filter: blur(10px);
    border-radius: 17px;
    text-align: center;
}
.hidden {
    display: none!important;
}
.fade {
    opacity: 0
}
.shrink {
    transform: scale(.6);
    margin: 0 auto;
}
.dark-bg {
    background: rgba(20,20,20,.3)
}
li {
    padding: .3em;
}

#score-list {
    font-family: monospace
}